{% extends "admin/base_site.html" %}

<!-- BREADCRUMBS -- >
{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; Upload spreadsheet
</div>
{% endblock %}
{% endif %}

{% block content %}

{% if extra %}
<b>Processed data from columns:<b>
<ul>
{% for col_name in extra.stats.used_columns %}
    <li>{{col_name}}</li>
{% endfor %}
</ul>

<b>Unused columns in spreadsheet:<b>
<ul>
{% for col_name in extra.stats.unused_columns %}
    <li>{{col_name}}</li>
{% endfor %}
</ul>

{% endif %}


<form enctype="multipart/form-data" method="post">
<table>
{% csrf_token %}
{{ form }}
</table>
<input type="submit">
</form>

{% endblock %}